/*pre reglage*/

body{
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
}

/*pre reglage*/

.bande1{
    border: 1px black solid;
    width: 80%;
    height: 50px;
    margin-left:10%;
    margin-right:10%;   
}

.bande2{
    border: 1px black solid;
    width: 100%;
    height: 50px;
}

.bande3{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.bande3_1{
    border: 1px black solid;
    width: 175px;
    height: 175px;
    margin-left: 5px;  
}

.bande3_2{
    width: 500px;
    height: 175px;  
    margin-right: 5px;
}

.search{
    position: relative;
}


form{
    width: 250px;
    height:50px ;
    margin-top: 10px;
    margin-left: 250px;

}

input{
    padding: 4px 5px;
    height: 50px;
    border: 2px;
    font-size: 14px;
    border-radius: 50px;
}


.submit{
    background-color:orange;
    color:#ffffff
}

.welcome{
    margin-top: 30px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    width:300px;
    margin-left: 200px;
    background-color:orange;
}

nav{
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0;
    background-color: white;
    position: sticky;
    top: 0;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size:1.2rem;
    width: 20%;
}

nav li :not(:last-child){
    margin-right: 15px;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    
}

nav a:hover{
    color:orange;
    border-bottom: 2px solid gold;
}

.nav__list{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
    margin-top: 50px;

}

.nav__list ul{
   
    list-style-type:none;
}

.nav__list ul li{
    float: left;
    width: 16.66%;
    text-align:center;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.nav__list ul ::after{
    content: "";
    display: table;
    clear: both;
}

.nav__list ul li a{
 display: block;
 text-decoration: none;
 color: black;
 border-bottom: 2px solid transparent;
 padding: 10px 0px;
}

.nav__list ul li a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
  

/*call to action*/

.call_to_action{
    display: flex;
    width: 100%;
    height: 640px;
}

.section1{
    width: 20%;
}

.section1_1{
    border: 1px red solid;
    height: 250px;
    margin-top: 0;
}

.section1_2{
    border: 1px red solid;
    height: 230px;
    margin-top: 20px;
}

.section2{
    width: 50%;
    height: 500px;
    margin-left: 5%;
}

.section2_1{
    width: 100%;
    height: 300px;
    border:1px red solid;
    margin-top: 0;
}

.section2_2{
    border: 1px red solid;
    height: 160px;
    margin-top: 20px;
}

.section3{
    width: 20%;
    height: 500px;
    margin-left: 5%;
}

.section3_1{
    width: 100%;
    height: 200px;
    border:1px red solid;
    margin-top: 0;
}

.section3_2{
    border: 1px red solid;
    height: 200px;
    margin-top: 20px;
}

.section3_3{
    border: 1px red solid;
    height: 200px;
    margin-top: 20px;
}